*.jl.*.cov
*.jl.cov
*.jl.mem
*.swp
*.swn
*.swo
/output
/Manifest.toml
/docs/build/
.vscode
/extensions/GalerkinToolkitExamples/output/*
/extensions/GalerkinToolkitExamples/Manifest.toml
*LocalPreferences.toml
