*.jl.*.cov
*.jl.cov
*.jl.mem
*.swp
*.swn
*.swo
*.pvd
*.pvtu
*.vtu
*.ipynb*
/output
/Manifest.toml
/docs/build/
/docs/src/tutorials/
/docs/Manifest.toml
/notebooks/Manifest.toml
.vscode
GalerkinToolkitExamples_output/
GalerkinToolkitExamples/Manifest.toml
*LocalPreferences.toml
