*.jl.*.cov
*.jl.cov
*.jl.mem
*.swp
*.swn
*.swo
*.pvd
*.pvtu
*.vtu
/output
*Manifest.toml
/docs/build/
/docs/src/examples/*.md
.vscode
GalerkinToolkitExamples_output/
GalerkinToolkitExamples/Manifest.toml
*LocalPreferences.toml
